.container__img {
	padding-top: 2rem;
	max-width: 60rem;
}
.container__img > img {
	max-width: 100%;
}
.page-error {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #222;
}

.page-error > h1 {
	font-size: 30rem;
	color: white;
}

.msg-error {
	padding-bottom: 1rem;
	& li {
		padding-bottom: 0.5rem;
		color: red;
	}
}

.h1-moins-espace {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.list {
	padding-right: 1rem;
}

.msg-login {
	font-size: 1rem;
	margin-top: 2rem;
}

.form-vote {
	margin-top: 2rem;
}

.th-log,
.th-user {
	text-align: center;
}

.container-img {
	padding: 1rem 0;
}

.role {
	flex: 50%;
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;

	& .role__img {
		width: 10rem;
		height: 10rem;
		border: 3px solid #222;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
