* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
}

main {
	padding: 2rem 4rem 2rem 4rem;
}

h1 {
	margin-top: 3rem;
	margin-bottom: 4rem;
}

p {
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

a {
	color: black;
	text-underline-offset: 8px;
}

table {
	background-color: white;
	padding: 1rem 2rem;
}

th {
	text-align: left;
}

td {
	max-width: 25rem;
	padding: 1rem 2rem;
}

input:not([type="submit"]),
textarea,
select {
	display: block;
	margin: 0.5rem 0 1rem 0;
	width: 18rem;
	padding: 5px;
}

img {
	width: 100%;
}
